a, a:hover {
    color: #262626;
    text-decoration: none;
    cursor: pointer;
}

.mt-10 {
    margin-top: 100px !important;
}

._owark {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
}

._b93kq, ._b93kq:active, ._b93kq:hover, ._b93kq:visited {
    color: #3897f0;
}

._61tuv {
    margin-left: 60px;
    text-align: center;
}

._7b8e {
    align-items: center;
    flex-direction: row;
    height: 60px;
    padding: 16px;
    display: flex;
}

._pg23k {
    background-color: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

._i2o1o {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
}

._j56ec {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
    overflow: hidden;
}

._2g7d5 {
    font-weight: 600;
    padding-left: 5px;
    margin-left: -5px;
}

._e3il2 {
    background-color: #efefef;
    display: block;
    width: 100%;
}

._2di5 {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

._ebcx {
    padding: 0 16px;
}

._8oo9 {
    margin-top: 10px;
    margin-bottom: 8px;
}

._eszk {
    margin-left: -8px;
}

._4a48i {
    margin-top: -5px;
    padding-top: 5px;
}

._b0tqa {
    padding-left: 0;
    list-style: none;
}

._ha6c6 {
    display: block;
    margin-bottom: 6px;
}

._mesn5 {
    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
}

._mainc {
    margin-right: 0;
    margin-left: 0;
}

._qdmzb {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

._l8yre {
    background-color: #fafafa;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

._fya1f {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

._ienqf {
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    flex-direction: row;
}

._ncrqg {
    display: flex;
    margin-left: 20px;
}

._lyv4q {
    margin-right: 8px;
}

._r9b8f {
    padding: 0 8px;
}

._njrw0 {
    cursor: pointer;
    background: 0 0;
}

._qv64e {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: none;
    width: 100%;
}

._h9luf {
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

._bnq48 {
    font-size: 16px;
    margin-right: 40px;
    display: inline-block;
}

._bnq48:first-child {
    margin-left: 0;
}

._bnq48:last-child {
    margin-right: 0;
}

._fd86t {
    color: #262626;
    font-weight: 600;
}

._tb97a {
    display: block;
}

._70iju {
    margin-bottom: 28px;
    padding: 0 0;
}

._28rsa {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    flex-direction: row;
    margin: 60px auto 0;
    max-width: 935px;
    width: 100%;
}

._mleeu {
    border-right: 1px solid #dbdbdb;
    flex-basis: 236px;
    list-style: none;
    padding: 0;
    margin: 0;
}

._fvhml {
    border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 16px 16px 30px;
}

._1eg8c {
    flex-direction: row;
    margin: 32px 0 16px;
}

._5g4e2 {
    height: 38px;
    width: 38px;
}

._fya1f {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

._9dz61 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 0;
}

._gzffa {
    margin: 32px 0;
}

._e1xik {
    margin-left: 90px;
}

._e1xi {
    margin-left: 60px;
    margin-right: 20px;
}

._e2xi {
    margin-left: 54px;
    margin-right: 20px;
}

._e3xi {
    margin-left: 29px;
    margin-right: 20px;
}

._e1x {
    margin-bottom: 1rem;
}

._ov9ai {
    margin-left: 90px;
    margin-top: 30px;
}

._mb4ve {
    display: flex;
    height: auto;
    min-height: 240px;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    flex-direction: column;
}

._52tai {
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

._1czfy, ._phurx {
    margin-top: 16px;
    font: inherit;
}

._guea9 {
    margin-top: 24px;
    font: inherit;
}

.hover-bg {
    position: relative;
    width: 293px;
    cursor: pointer;
}

.hover-bg img {
    display: block;
    width: 100%;
}

.hover-bg:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.3);
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

._fd86 {
    font-weight: 600;
    padding-left: 10px;
}

.no-border {
    border: none;
    border-radius: 0;
}

._sxolz {
    background-color: #000;
    justify-content: center;
    min-height: 450px;
}

._2di5p {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

._7b8eu {
    align-items: center;
    height: 60px;
}

._9dpug {
    border-bottom: 1px solid #efefef;
    height: 78px;
    margin-right: 0;
    padding: 0;
    position: absolute;
    right: 22px;
    top: 0;
    width: 287px;
}

._rewi8 {
    height: 100%;
    width: 100%;
}

._j56ec {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
    overflow: hidden;
}

._iuvin {
    display: block;
    position: relative;
    margin-left: 20px;
}

._ebcx9 {
    bottom: 0;
    padding: 0 24px;
    position: absolute;
    left: 0;
    top: 78px;
    width: 283px;
}

._277v9 {
    height: 60%;
    margin: 0 0 auto -24px;
    order: 1;
    padding: 12px 24px;
}

._ezgzd {
    padding-bottom: 6px;
    position: relative;
    margin-top: -5px;
    padding-top: 5px;
}

._95hvo {
    margin-right: .3em;
    color: #262626;
}

._8oo9w {
    border-top: 1px solid #efefef;
    margin: 0;
    order: 2;
    padding-top: 2px;
}

._l9yih {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

._nzn1h {
    margin-top: 8px;
    margin-left: 4px;
    font-weight: 600;
    color: #262626;
}

._6d44r {
    margin-bottom: 0;
    order: 3;
    display: block;
}

._p29ma {
    font-size: 12px;
    letter-spacing: .2px;
    color: #999;
    text-transform: uppercase;
}

._km7ip {
    border-top: 1px solid #efefef;
    color: #999;
    min-height: 56px;
    padding: 16px 0;
}

._ti7l3 {
    order: 4;
    margin-top: 4px;
}

._b6i0l {
    align-items: center;
    position: relative;
    display: flex;
    flex-grow: 1;
}

._bilrf {
    margin-right: 30px;
    border: none;
    color: #262626;
    padding: 0;
    outline: none;
    resize: none;
    max-height: 80px;
    display: flex;
    flex-grow: 1;
}

._5mwg7 {
    right: 18px;
    bottom: 0;
    height: 38px;
    top: auto;
    justify-content: center;
    position: absolute;
}

._tauyc, ._tauyc:focus {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    outline: none;
}

._tpnch {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    z-index: 1;
    height: 66px;
}

.dropdown-toggle::after {
    content: none;
}

._dv59m {
    background: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
    display: block;
    left: 50%;
    margin-left: -77px;
    position: absolute;
    right: -12px;
    top: 50px;
    width: 200px;
    z-index: 9;
}

._gimca {
    align-items: center;
    border-bottom: solid 1px #efefef;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 50px;
    padding: 8px 14px;
}

._t3f9x {
    align-items: center;
    margin-right: 0;
    white-space: nowrap;
    width: 100%;
    flex-direction: row;
    display: inline-flex;
}

._a4egj {
    border: solid 1px #efefef;
    border-radius: 30px;
    flex: 0 0 auto;
    height: 30px;
    margin: 0 10px 0 0;
    width: 30px;
}

._cuwjc {
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    display: flex;
}

._ajwor {
    color: #262626;
    flex-direction: row;
}

._sgi9z {
    line-height: 22px;
    margin-bottom: -4px;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
}

._sayjy {
    font-weight: 300;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

._ajwor, ._sayjy {
    font-size: 14px;
    text-align: left;
}


@media (min-width: 640px) {
    ._e3il2 {
        width: 100%;
    }

    ._s5vjd {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        margin: 0 -1px 60px;
    }
}

@media (min-width: 736px) {
    ._mesn5 {
        box-sizing: content-box;
        padding: 60px 20px 0;
    }

    ._mainc {
        margin-bottom: 44px;
    }

    ._b0acm {
        flex-basis: 0;
        flex-grow: 1;
        margin-right: 30px;
    }

    ._qdmzb {
        height: 152px;
        width: 152px;
    }

    ._o6mpc {
        flex-basis: 30px;
        flex-grow: 2;
    }

    ._ienqf {
        margin-bottom: 20px;
    }

    ._rf3jb {
        font-size: 32px;
        line-height: 40px;
        font-weight: 200;
    }

    ._r9b8f {
        padding: 0 24px;
    }

    ._r9b8 {
        padding: 0 12px;
    }

    ._tb97a {
        font-size: 16px;
        line-height: 24px;
    }

    ._5g4e2 {
        margin: 2px 32px 0 124px;
    }

    ._1ibs3 {
        margin-right: 30px;
    }

    ._3apjk {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .mw {
        max-width: 39.9%;
    }
}